body {
  background-color: #262424;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home a, .home img {
  width: 100%;
  display: block;
}

.feature {
  width: 100%;
  display: block;
}

.feature:hover path {
  fill: #FFF36E;
  cursor: pointer;
}

.home hr {
  border: 1px solid #dedede;
  opacity: 0.7;
  margin-left: 8px;
  margin-right: 8px;
}

.desktop {
  display: block;
}

.mobile {
  display: none;
}

@media only screen and (max-width: 480px) {
  .desktop {
    display: none;
  }
  
  .mobile {
    display: block;
  }
}