body {
  background-color: #262424;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home {
  width: 100%;
}

.home > a, img {
  width: 100%;
}

.mobile {
  display: none;
}

@media only screen and (max-width: 480px) {
  .desktop {
    display: none;
  }
  
  .mobile {
    display: block;
  }
}