body {
  background-color: #262424;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home a, .home img {
  width: 100vw;
}

.desktop {
  display: block;
}

.desktop a, .desktop img {
  height: 100vh;
}

.mobile {
  display: none;
}

@media only screen and (max-width: 480px) {
  .desktop {
    display: none;
  }
  
  .mobile {
    display: block;
  }
}